
body{
padding-top: 10px;
}
footer{
background-color: #EEE;
border-top: 5px solid #BBB;
font-size:14px;
padding:1px;
text-align:center;
}
.box-principal{
margin-left:auto;
margin-right:auto;
width:90%;
}
.titulo{
text-align:center;
}

#menu_gral > ul li {
    display: inline-block;
    position: relative;
}
#menu_gral li a {

    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
    color:#fff ;
    font-weight: bold;
    font-size:15px;
    letter-spacing: 0.7px;
    border-color: transparent;

}
#menu_gral li:hover a, #menu_gral li a:focus {
    background: rgba(69, 130, 236);
    color: #fff;
}

#menu_gral li ul {
    position: absolute;
    width: 0;
    overflow: hidden;
}
#menu_gral li:hover ul, #menu_gral li:focus ul {
    width: auto;
    margin: 0 -3rem -3rem -3rem;
    padding: 0 3rem 3rem 3rem;
    z-index: 5;
}
#menu_gral li li {
    display: block;
    width: auto;
    background: rgba(69, 130, 236);
}
#menu_gral li:hover li a, #menu_gral li:focus li a {
    line-height: 1.7rem;
    /*border-bottom: 1px solid #e5e5e5;*/
    background: rgba(69, 130, 236);
    box-shadow:rgba (0,0,0,0.6); 0px 5px 10px
}
